{% extends "lab_10/layout/base.html" %}

{% block content %}
    <div class="row">
        <br>
        <div>
            <img src={{ movie.poster }}>
            <h2>{{ movie.title }} ({{ movie.year }})</h2>
        </div>
        <div>
            <table class="table table-striped">
                <tr>
                    <th>Released:</th>
                    <td> {{ movie.released }}</td>
                </tr>
                <tr>
                    <th>Runtime:</th>
                    <td> {{ movie.runtime }}</td>
                </tr>
                <tr>
                    <th>Director:</th>
                    <td> {{ movie.director }}</td>
                </tr>
                <tr>
                    <th>Genre:</th>
                    <td> {{ movie.genre }}</td>
                </tr>
                <tr>
                    <th>Writer:</th>
                    <td> {{ movie.writer }}</td>
                </tr>
                <tr>
                    <th>Actors:</th>
                    <td> {{ movie.actors }}</td>
                </tr>
                <tr>
                    <th>Language:</th>
                    <td> {{ movie.language }}</td>
                </tr>
                <tr>
                    <th>Plot:</th>
                    <td>{{ movie.plot }}</td>
                </tr>
            </table>
            {% for x in movie.ratings %}
                {% if x.Source == "Internet Movie Database" %}
                    <h4>
                        <img src="https://vignette.wikia.nocookie.net/the-leftovers/images/7/7f/IMDB-icon.png/revision/latest?cb=20140627045053"
                             width="80px" height="40px">{{ x.Value }}</h4>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <h2> Contoh cara mengambil judul: </h2>
        <h1 style="color:red"> {{ movie.title }} </h1>

        <br>
        <div class="box">
            {% if added %}
                <button class="btn btn-success"> Added to Watch Later</button>
            {% else %}
                <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
            {% endif %}
        </div>

    </div>
{% endblock %}
