{% extends "lab_4/layout/base.html" %}

{% block content %}
<style type="text/css">
	.image{
		border-radius:90%;
		width:400px;
		height:400px;
		margin-left:35%;
	}
	p,ul{
		font-size:17px;
	}
	h1{
		font-size:42px;
	}
	h2{
		font-size:32px;
	}
	h3{
		font-size:38px;
		margin-left:41%;
		color:#03001e;
	}
	body{
		background:linear-gradient(#6A82FB,#FC5C7D);
	}
</style>
<img alt="Fadhlan Hazim" class="image" src="http://i63.tinypic.com/30da1i8.jpg">
<h3>Fadhlan Hazmi</h3>
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
